<!DOCTYPE html>
<html>
    <title>Weather App</title>
 
<head>
    <link rel="stylesheet" href="css/styles.css">
    <link rel="icon" href="/img/favicon.png">  
    
</head>

<body>
    <div class="main-content">
        <p>
        {{>header}}
       
       <img class="landscape" src="/img/android_weather_app.jpg">
    </p>
    </div>
    
      {{>footer}}
       &nbsp; &nbsp; {{localtime}}
    
</body>

</html>