body {
    color: #333333;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 16px;
    opacity: 0.9;
        /* The image used */
        background-image: url("../img/android_weather_app.jpg");
      
        /* Full height */
        height: 100%;
      
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;

    display: flex;
    flex-direction: column;
    min-height: 50vh;
}

.welcome {
    font-size: 24px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.main-content {
    flex-grow: 1;
}

.heading {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 40px;
    text-align: center;
    font-style: italic;  
}

.content {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: black;
    text-align: center;
    font-style: italic;
    margin-bottom: 100px;
}
.content-2 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22px;
    color: black;
    text-align: justify;
    
    margin-bottom: 100px;
}

footer {
    color: #ffffff;
    border-top: 2px solid #888888;
    margin-top: 80px;
    text-align: right;
    padding: 16px;
}

header {
    margin-top: 16px;
    margin-bottom: 48px;
}

h1 {
    font-size: 48px;
    margin-bottom: 16px;
}

header a {
    color: #333333;
    margin-right: 16px;
    text-decoration: none;
}

.landscape {
    width: 900px;
    margin-top: auto;
    margin-left: 50px;
}

input {
    margin-left: 670px;
    border: 2px solid #cccccc;
    padding: 14px;

}

button {
    width: 100px;
    margin-left: 20px;
    cursor: pointer;
    border: 1px solid #cccccc;
    background: #cccccc;
    color: #333333;
    padding: 14px;
}

.error {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 24px;
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}

.result {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 28px;
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 30px;
}